.about {
    padding: 100px;
}

/* --------- BANNER PART ---------- */
.banner {
    width: 100%;
    height: 45vh;
    border-radius: 10px;
    padding: 25px;
    position: relative;
    font-family: SHOBUJ;
    background: linear-gradient(
        -45deg,
        var(--primary-color),
        var(--primary-color-dark)
    );
    color: var(--text-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);

    &__heading {
        h1 {
            font-size: 2rem;
            color: #f7f7f7;
            span {
                font-size: 4rem;
                font-family: NILADRI;
                color: #fff;
                text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
            }
        }
        h2 {
            font-size: 2rem;
            margin-top: -1.5rem;
            position: relative;
            color: #f7f7f7;
            display: inline-block;
            &::before {
                content: "";
                width: 70%;
                height: 2px;
                position: absolute;
                right: -80%;
                top: 0;
                border-radius: 4px;
                background: var(--primary-color);
            }
        }
    }

    img {
        height: 120%;
        position: absolute;
        top: -100px;
        right: 0;
    }
    p {
        font-size: 18px;
        color: #fff;
        span {
            background: var(--primary-color-light);
            color: var(--primary-color-dark);
            font-weight: bold;
            padding: 4px;
            border-radius: 4px;
            margin: 0 4px;
        }
    }
}
