.acard {
  height: 56vh;
  margin: 0 20px 10px 20px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(122, 122, 122, 0.212);
  color: var(--text-color);
  position: relative;

  &__image {
    height: 32vh;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    a.black {
      display: block;
      height: 0;
      width: 0;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.65);
      position: absolute;
      top: -100%;
      left: 0;
      transition: 0.3s;
    }

    &:hover > .black {
      top: 0;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    padding: 10px 30px;
    width: 100%;

    a.topicHeading {
      color: var(--text-color);
      text-decoration: none;
      font-family: SHOBUJ;
      font-size: 1.5rem;
      &:hover {
        color: #000;
      }
    }

    p {
      font-size: 16px;
      font-family: SHOBUJ;
    }
    p.date {
      margin: 5px 0 20px 0;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      color: #ccc;
    }

    &__info {
      display: flex;
      align-items: center;
      font-size: 20px;
      margin-right: 10px;

      .logo {
        font-size: 20px;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        font-weight: bolder;
        background: var(--primary-color-light);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .value {
        font-family: SHOBUJ;
        margin-left: 10px;
        font-size: 25px;
      }
    }

    a.readmore {
      text-decoration: none;
      width: 60px;
      height: 60px;
      border-radius: 10px;
      background: var(--primary-color-light);
      position: absolute;
      bottom: 5px;
      right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.4s;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
        color: var(--primary-color-dark);
        transition: 0.4s;
      }

      &:hover {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

// FOR MOBILE VIEW
@media (max-width: 480px) {
  .acard {
    height: 35vh;
    width: calc(100% - 20px);
    border-radius: 5px;
    margin: 0 10px 5px 10px;
    box-shadow: 0px 2px 5px rgba(122, 122, 122, 0.212);

    &__image {
      height: 14vh;
    }

    &__content {
      padding: 10px;
      width: 100%;

      a.topicHeading {
        font-size: 14px;
      }
      p {
        display: none;
      }
      a.readmore {
        display: none;
      }

      &__info {
        margin-top: 5px;
        .logo {
          height: 20px;
          width: 20px;
          svg {
            width: 14px;
            height: 14px;
          }
        }
        .value {
          font-size: 16px;
        }
      }
    }
  }
}
