.applyForm {
    p {
        font-size: 18px;
        a {
            text-decoration: none;
            color: var(--primary-color-dark);
            &:hover {
                color: var(--primary-color);
            }
        }
    }

    form {
        margin-top: 20px;
        input {
            width: calc(100% - 30px);
            padding: 15px !important;
            margin-top: 20px;
            border: 2.5px solid #ccc;
            border-radius: 5px;
            font-size: 18px;
            font-family: SHOBUJ;
            background: #fff;
            color: #000;
            outline: none;

            &:focus {
                border: 2.5px solid var(--primary-color);
            }
        }

        .input-block {
            display: flex;
            input {
                width: 50%;
                margin-right: 20px;
            }
        }
    }
}
