.apply {
    position: relative;

    &__content {
        width: 50%;
        min-height: 80vh;
        position: absolute;
        top: 100px;
        left: 100px;
        font-family: SHOBUJ;
        color: var(--text-color);
        z-index: 2;

        .button-group {
            margin-top: 50px;
            margin-bottom: 25px;
            display: flex;
            button {
                min-width: 20vh;
                margin-right: 32px;
                padding: 8px 32px;
                font-size: 20px;
                font-family: SHOBUJ;
                border-radius: 5px;
                background: var(--primary-color-dark);
                color: #fff;
                border: none;
                outline: none;
                cursor: pointer;
            }
            button.inactive {
                background: #ccc;
                color: #000;
            }
        }
        .loginLink {
            font-size: 18px;
            a {
                text-decoration: none;
                color: var(--primary-color-dark);
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}
