.apply {
    position: relative;

    &__content {
        width: 50%;
        min-height: 80vh;
        position: absolute;
        top: 100px;
        left: 100px;
        font-family: SHOBUJ;
        color: var(--text-color);
        z-index: 2;

        h1 {
            font-size: 3.5rem;
            color: var(--primary-color-dark);
            text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
        }
        .button-group {
            margin-top: 50px;
            margin-bottom: 25px;
            display: flex;
            button {
                min-width: 20vh;
                margin-right: 32px;
                padding: 8px 32px;
                font-size: 20px;
                font-family: SHOBUJ;
                border-radius: 5px;
                background: var(--primary-color-dark);
                color: #fff;
                border: none;
                outline: none;
                cursor: pointer;
            }
            button.inactive {
                background: #ccc;
                color: #000;
            }
        }
        .loginLink {
            font-size: 18px;
            a {
                text-decoration: none;
                color: var(--primary-color-dark);
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }

    &__line {
        width: 25vw;
        height: 80vh;
        background: linear-gradient(
            to left,
            var(--primary-color-dark),
            var(--primary-color)
        );
        clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 95%, 0 90%);
        position: absolute;
        top: 0;
        right: 30vh;
    }

    &__image-block {
        width: 30%;
        position: absolute;
        right: 35vh;
        top: 50vh;
        img {
            width: 100%;
        }
    }
    svg.square {
        position: absolute;
        right: calc(30vh - 90px);
        top: 20vh;
        transform: rotate(45deg);
        color: var(--primary-color-light);
    }
}
