.apply {
  position: relative;

  &__content {
    width: 50%;
    min-height: 100vh;
    padding: 100px 50px 0 100px;
    font-family: SHOBUJ;
    color: var(--text-color);
    z-index: 2;

    .button-group {
      margin-top: 50px;
      margin-bottom: 25px;
      display: flex;
      button {
        min-width: 10vw;
        margin-right: 32px;
        padding: 10px 40px;
        border-radius: 10px;
        font-family: SHOBUJ;
        font-size: 20px;
        background: transparent;
        color: var(--primary-color-dark);
        border: 3px solid var(--primary-color-dark);
        transition: 0.4s;
        outline: none;
        cursor: pointer;

        &:hover {
          background: var(--primary-color-dark);
          color: #fff;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }
      }

      button.inactive {
        border: 3px solid #ccc;
        background: #ccc;
        color: var(--text-color);
      }
    }
    .loginLink {
      font-size: 18px;
      a {
        text-decoration: none;
        color: var(--primary-color-dark);
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}
