.dashboard {
  display: flex;
  flex-wrap: wrap;

  &__activity {
    width: 65%;
    height: 45vh;

    .activity-overview {
      display: flex;
      justify-content: space-between;
      background: #fff;
      border-radius: 8px;
      margin-bottom: 10px;
      padding: 10px;

      .activity {
        width: 40%;
        height: 10vh;
        padding: 0 15px;
        display: flex;
        align-items: center;
        .logo {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .text {
          color: var(--text-color);
          font-family: SHOBUJ;
          h1 {
            font-size: 20px;
            line-height: 20px;
          }
          p {
            font-size: 15px;
            line-height: 15px;
            color: gray;
          }
        }
      }
      .activity:nth-child(even) {
        border-right: 2px solid #f7f7f7;
        border-left: 2px solid #f7f7f7;
      }
    }
  }

  &__donation {
    background: #fff;
    min-height: calc(80vh - 50px);
    border-radius: 8px;
    padding: 20px;
    border: 1px solid red;
  }

  &__eventInfo {
    width: calc(35% - 10px);
    height: calc(90vh - 20px);
    margin-left: 10px;

    .chartPolar {
      width: 100%;
      height: fit-content;
      margin-bottom: 10px;
      padding: 20px 40px;
      border-radius: 8px;
      background: #fff;
      font-family: SHOBUJ;
    }
    .topDonour {
      width: 100%;
      height: calc(50vh - 25px);
      padding: 20px;
      border-radius: 8px;
      background: #fff;
      border-radius: 8px;
      font-family: SHOBUJ;

      .members {
        margin-top: 25px;

        .heading {
          font-size: 15px;
          padding-bottom: 5px;
          margin-bottom: 10px;
          border-bottom: 1px solid #ccc;
          color: #ccc;
          display: flex;
          align-items: center;
          .name {
            width: 60%;
          }
          .donation {
            width: 25%;
          }
          .participation {
            width: 15%;
          }
        }

        .member {
          display: flex;
          align-items: center;
          padding: 10px 0;
          color: var(--text-color);
          font-family: SHOBUJ;

          .name {
            width: 60%;
            display: flex;
            align-items: center;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: 20px;
            }
            h2 {
              font-size: 15px;
              font-weight: normal;
              color: gray;
            }
          }

          .donation {
            width: 25%;
            font-size: 18px;
            font-weight: bold;
          }

          .participation {
            width: 15%;
            font-size: 18px;
            font-weight: bold;
            color: gray;
          }
        }
      }
    }
  }
}
