.description {
  width: 100%;
  margin-top: 55px;
  position: relative;
  overflow: hidden;
  display: flex;

  &__heading {
    width: 50%;
    padding: 0 0 0 100px;
    font-family: SHOBUJ;
    font-size: 4rem;
    color: var(--primary-color-dark);
    position: relative;
    svg {
      width: 300px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      color: var(--primary-color-light);
    }
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }

  &__text {
    width: 50%;
    padding: 0 100px 0 0;
    font-family: SHOBUJ;
    font-size: 20px;
    color: var(--text-color);
    p span {
      font-size: 25px;
      color: var(--primary-color-dark);
      padding: 3px 5px;
      margin: 0 3px;
      border-radius: 3px;
    }
  }

  .flower-left {
    position: absolute;
    bottom: 0;
    left: -40px;
    img {
      width: 13rem;
      transform: rotate(90deg);
    }
  }
  .flower-right {
    position: absolute;
    bottom: 0;
    right: -40px;
    transform: rotateY(180deg);
    img {
      width: 13rem;
      transform: rotate(90deg);
    }
  }
}

.workingon {
  width: calc(90% - 200px);
  min-height: 50vh;
  margin: auto;
  padding: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__heading {
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
    font-family: SHOBUJ;
    p {
      font-size: 2rem;
      color: var(--text-color);
      font-family: RONGDHONU;
    }
    h1 {
      font-size: 3.5rem;
      color: var(--primary-color-dark);
      span {
        font-weight: bold;
        font-size: 4rem;
      }
    }
  }
  .service {
    width: 22%;
    height: fit-content;
    padding: 40px 0;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    border-radius: 20px;
    text-align: center;
    img {
      width: 100px;
    }
    h2 {
      font-family: SHOBUJ;
      color: var(--text-color);
      font-weight: normal;
    }
  }
}
