.enter {
  position: relative;

  &__content {
    width: 50%;
    min-height: 100vh;
    margin-bottom: 0;
    padding: 100px 50px 0 100px;
    font-family: SHOBUJ;
    color: var(--text-color);
    z-index: 2;

    .loginLink {
      font-size: 18px;
      color: var(--text-color);
    }

    a {
      text-decoration: none;
      font-size: 20px;
      color: var(--primary-color-dark);
      transition: 0.3s;

      &:hover {
        color: var(--primary-color);
      }
    }

    .regLink {
      font-size: 20px;
      a {
        text-decoration: none;
        color: var(--primary-color-dark);
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .enter {
    &__content {
      width: 100%;
      padding: 70px 25px;
      h1{ font-size: 2.3rem; margin-bottom: 45px; text-align: center;}
      p{  font-size: 16px; text-align: justify;}

      .form-block { form { button { margin-bottom: 10px; }  } }
    }
  }
}