.enter {
    position: relative;

    &__content {
        width: 50%;
        min-height: 80vh;
        position: absolute;
        top: 100px;
        left: 100px;
        font-family: SHOBUJ;
        color: var(--text-color);
        z-index: 2;

        h1 {
            font-size: 3.5rem;
            color: var(--primary-color-dark);
            text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
        }
        .loginLink,
        p {
            font-size: 18px;
            color: var(--text-color);
        }

        a {
            text-decoration: none;
            font-size: 20px;
            color: var(--primary-color-dark);
            transition: 0.3s;

            &:hover {
                color: var(--primary-color);
            }
        }

        form {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            input {
                width: 70%;
                padding: 15px !important;
                margin-top: 20px;
                border: 2.5px solid #ccc;
                border-radius: 5px;
                font-size: 18px;
                font-family: SHOBUJ;
                color: var(--texy-color);
                outline: none;
                background: #fff;
                color: #000;

                &:focus {
                    border: 2.5px solid var(--primary-color);
                }
            }
            button {
                width: 70%;
                margin: 20px 0;
                background: var(--primary-color-dark);
                color: #fff;
                padding: 10px 32px;
                font-size: 20px;
                font-family: SHOBUJ;
                border-radius: 5px;
                border: none;
                outline: none;
                cursor: pointer;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

                &:hover {
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
                }
            }
        }

        .regLink {
            font-size: 20px;
            a {
                text-decoration: none;
                color: var(--primary-color-dark);
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }

    &__line {
        width: 25vw;
        height: 80vh;
        background: linear-gradient(
            to left,
            var(--primary-color-dark),
            var(--primary-color)
        );
        clip-path: polygon(0 0, 100% 0%, 100% 92%, 56% 96%, 0 100%);
        position: absolute;
        top: 0;
        right: 30vh;
    }

    &__image-block {
        width: 30%;
        position: absolute;
        right: 35vh;
        top: 47vh;
        img {
            width: 100%;
            transform: rotateY(180deg);
        }
    }
    svg.square {
        position: absolute;
        right: calc(30vh - 90px);
        top: 20vh;
        transform: rotate(45deg);
        color: var(--primary-color-light);
    }
}
