.enter {
    position: relative;

    &__content {
        width: 50%;
        min-height: 80vh;
        position: absolute;
        top: 100px;
        left: 100px;
        font-family: SHOBUJ;
        color: var(--text-color);
        z-index: 2;

        .loginLink {
            font-size: 18px;
            color: var(--text-color);
        }

        a {
            text-decoration: none;
            font-size: 20px;
            color: var(--primary-color-dark);
            transition: 0.3s;

            &:hover {
                color: var(--primary-color);
            }
        }

        .regLink {
            font-size: 20px;
            a {
                text-decoration: none;
                color: var(--primary-color-dark);
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}
