.footer {
  width: 100%;
  min-height: 30vh;
  padding: 40px 60px;
  background: #444;
  color: #fff6fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &__intro {
    width: 25%;
    h1 {
      font-size: 4rem;
      font-family: NILADRI;
    }
    p {
      font-size: 18px;
      line-height: 20px;
      font-family: SHOBUJ;
      color: #fff;
      span {
        background: var(--primary-color-light);
        color: var(--primary-color-dark);
        font-weight: bold;
        padding: 3px;
        border-radius: 4px;
        margin: 0 4px;
      }
    }
    .links {
      margin-top: 25px;
      width: 100%;
      a {
        display: inline-block;
        margin-right: 20px;
        text-decoration: none;
        color: var(--primary-color);
        font-size: 18px;
        font-family: SHOBUJ;
      }
    }
  }

  &__connection {
    width: 25%;
    min-height: 30vh;
    font-family: SHOBUJ;
    font-size: 18px;

    h1 {
      font-size: 3rem;
      span {
        font-weight: 200;
        font-size: 25px;
      }
    }

    .connections {
      .connection {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        svg {
          margin-right: 20px;
          color: #fff !important;
          width: 18px;
          height: 18px;
        }
        .socialLinks{
          width: 100%;
          display: flex;
          .socialLink {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--primary-color);
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
  
            &:hover > a {
              transform: scale(1.4);
            }
  
            a {
              text-decoration: none;
              text-align: center;
              position: relative;
              transition: 0.4s;
              svg {
                width: 20px;
                height: 20px;
                color: var(--primary-color-dark) !important;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .footer{
    padding: 25px 25px;
    &__intro{
      width: 100%;
      margin-bottom: 40px;
      h1 { font-size: 2rem;}
      p { font-size: 15px; line-height: 18px;}
      .links { margin-top: 10px; a { margin-right: 10px; font-size: 15px; } }
    }

    &__connection{
      width: 100%;
      font-size: 18px;
      h1 { font-size: 1.6rem; margin-bottom: 10px; span { font-weight: 200; font-size: 15px;} }
      .connections {
        .connection {
          font-size: 15px; margin-bottom: 4px;
          svg { margin-right: 10px; width: 15px; height: 15px; }
          .socialLinks{
            display: flex;
            .socialLink {
              width: 40px;
              height: 40px;
              margin-right: 10px;
              margin-top: 25px;
              a { svg { width: 14px; height: 14px; } }
            }
          }
        }
        .connection.social{
          display: flex; justify-content: center;
        }
      }
    }
  }
}