.form-block {
  p {
    font-size: 18px;
    a {
      text-decoration: none;
      color: var(--primary-color-dark);
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    input,
    textarea {
      width: calc(100% - 20px);
      padding: 15px !important;
      margin-top: 20px;
      border: 2.5px solid #ccc;
      border-radius: 5px;
      font-size: 18px;
      font-family: SHOBUJ;
      background: #fff;
      color: #000;
      outline: none;

      &:focus {
        border: 2.5px solid var(--primary-color);
      }
    }

    .input-block {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      input,
      .password-block {
        width: calc(50% - 20px);
        margin-right: 20px;
      }
      .password-block {
        margin-top: 20px;
        position: relative;
        input {
          margin-top: 0;
          width: 100%;
        }
        svg.off,
        svg.on {
          width: 18px;
          height: 18px;
          color: var(--text-color);
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }

    .selectOptions {
      margin-top: 20px;
      height: fit-content;
      position: relative;

      select {
        padding: 15px !important;
        width: calc(100% - 20px);
        border-radius: 5px;
        font-size: 18px;
        border: 2.5px solid #ccc;
        font-family: SHOBUJ;
        background: #fff;
        color: #000;
        outline: none;
        appearance: none;
        cursor: pointer;

        &:hover {
          border: 2.5px solid var(--primary-color);
        }
      }
      .arrow {
        position: absolute;
        top: 0;
        right: 20px;
        height: 60px;
        width: 50px;
        background: var(--primary-color-dark);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 8px 8px 0;
        color: #fff;
      }
    }

    button {
      width: 10vw;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 10px 30px;
      background: transparent;
      background: var(--primary-color-dark);
      color: #fff;
      border: none;
      border-radius: 5px;
      font-family: SHOBUJ;
      font-size: 20px;
      text-align: center;
      outline: none;
      cursor: pointer;

      &:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

@media (max-width: 480px) {
  .form-block {
    form {
      input,
      textarea {
        width: 100%;
        padding: 8px !important;
        margin-top: 20px;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
      }

      .input-block {
        input,
        .password-block {
          width: 100%;
          margin-right: 0;
        }
      }

      button {
        width: 35vw;
        margin-top: 0;
        margin-bottom: 0px;
        padding: 5px 20px;
        border-radius: 4px;
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
