.line {
    width: 25vw;
    height: 80vh;
    background: linear-gradient(
        -235deg,
        var(--primary-color-dark),
        var(--primary-color)
    );
    clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 95%, 0 90%);
    position: absolute;
    top: 0;
    right: 30vh;
}

.line__image-block {
    width: 30%;
    position: absolute;
    right: 30vh;
    top: 55vh;
    img {
        width: 100%;
        max-height: 35vh;
    }
}

svg.square {
    position: absolute;
    right: calc(30vh - 90px);
    top: 20vh;
    transform: rotate(45deg);
    color: var(--primary-color-light);
}

@media (max-width: 480px) {
    .line{display: none;}
    .line__image-block{ display: none; }
    svg.square{ width: 90px; height: 90px; top: 50px; left: 50%; transform: translateX(-50%) rotate(-45deg); z-index: -1; }
}