.help {
  &__content {
    width: 50%;
    min-height: 100vh;
    padding: 100px 50px 100px 100px;
    font-family: SHOBUJ;
    color: var(--text-color);
    z-index: 2;
  }
}

@media (max-width: 480px) {
  .help {
    &__content {
      width: 100%;
      padding: 70px 25px;
      h1{ font-size: 2rem; line-height: 2.1rem; margin-bottom: 45px; text-align: center;}
      p{  font-size: 16px; text-align: justify;}

      .form-block { form { button { margin-bottom: 10px; }  } }
    }
  }
}