.navforviwer {
  width: 100%;
  height: 10vh;
  padding: 0 90px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;

  a {
    display: inline-block;
    margin-right: 25px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    font-family: SHOBUJ;
    color: var(--primary-color-dark);
    transition: 0.3s;
  }

  a.brand {
    font-family: NILADRI;
    font-size: 2rem;
    color: var(--primary-color-dark) !important;
  }

  a:hover {
    color: var(--primary-color);
  }

  a.active {
    color: var(--primary-color);
  }

  a.donate {
    color: white;
    background: var(--primary-color-dark);
    padding: 10px 30px;
    border-radius: 8px;
  }
  a.hide {
    display: none;
  }

  .userBox {
    display: flex;
    align-items: center;
    padding: 0 50px;

    .notification {
      width: 30px;
      height: 30px;
      margin-right: 25px;
      position: relative;
      svg {
        color: gray;
      }
      .dot {
        width: 15px;
        height: 15px;
        border-radius: 50px;
        background: var(--primary-color-dark);
        position: absolute;
        top: 1px;
        right: 1px;
        // display: none;
      }
    }
    .userPhoto {
      img {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        padding: 2px;
        border: 4px solid;
        border-bottom-color: var(--primary-color-dark);
        border-right-color: var(--primary-color-dark);
        border-top-color: var(--primary-color);
        border-left-color: var(--primary-color-light);
      }
    }
  }
}

.navforviwer.white-active {
  height: 10vh;
  background: #fff;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

/* ============== TOGGLE BUTTON ============= */
.btn__toggler {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15px;
  width: 15px;
  padding: 0;
  margin-right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}
.btn__toggler:focus {
  outline: none;
}
.btn__toggler-line {
  width: 100%;
  height: 2px;
  background: #000;
}

/* ============== SIDE DRAWER ============= */
.side__drawer {
  height: 100%;
  width: 60%;
  max-width: 400px;
  padding: 70px 0 50px 0;
  background: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-110%);
  transition: 0.3s ease-out;
  z-index: 200;
}
.side__drawer.open {
  transform: translateX(0);
}
.side__drawer .navbar-brand {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding-bottom: 10px;
}
.side__drawer ul {
  height: 100%;
  list-style: none;
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: column;
}
.side__drawer li {
  margin: 10px 0;
}
.side__drawer li a {
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  color: #444;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
.side__drawer li a svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.backdrop-white {
  background: transparent;
}

@media (min-width: 769px) {
  .btn__toggler {
    display: none;
  }
}
@media (max-width: 768px) {
  .navforviwer{
    padding: 0 20px;
    a.donate {
      font-size: 15px;
      padding: 5px 15px;
      border-radius: 5px;
      margin-right: 0;
    }
  }
  .navforviwer.white-active {
    height: 7vh;
  }
  .nav-items {
    display: none;
  }
}
