.pastact {
  width: calc(100% - 50px);
  margin: auto;
  height: 100vh;
  padding: 100px;
  position: relative;
  p {
    font-family: RONGDHONU;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: -10px;
    color: var(--text-color);
  }
  h1 {
    width: 100%;
    font-family: SHOBUJ;
    font-size: 3.5rem;
    color: var(--primary-color-dark);
  }

  .slider_btn{
    position: absolute;
    right: 100px;
    top: 120px;
    .button_box {
      display: flex;
    }
  }

  &__slider-block {
    width: 90%;
    height: 56vh;
    margin: auto;
    margin-top: 60px;
    position: absolute;
    top: 180px;

    .slider {
      padding: 0 20px;
    }
  }
}

.slick-arrow {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}
.slick-arrow,
.slick-arrow:hover,
.slick-arrow:active,
.slick-arrow:visited,
.slick-arrow:link {
  background: var(--primary-color-dark) !important;
}


@media (max-width: 480px) {
  .pastact{
    width: 100%;
    height: 70vh;
    padding: 25px 0;
    p { font-size: 25px; line-height: 25px; text-align: center; margin-bottom: 10px; }
    h1 { font-size: 2rem; text-align: center; }

    &__slider-block{
      width: 100%;
      padding: 10px;
      min-height: 40vh !important;
      margin-top: -50px;
      .slider {
        padding: 0;
      }
    }
    .slider_btn{
      width: 100%;
      top: 85%;
      right: 0;
      display: flex;
      justify-content: center;
      .button_box {
        display: flex;
        .round_btn{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}