.profile {
  display: flex;
  flex-wrap: wrap;

  &__basic {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 8px;

    img.profile-picture {
      width: 20vh;
      height: 20vh;
      border-radius: 50%;
      padding: 2px;
      border: 5px solid;
      background-color: var(--primary-color-light);
      border-bottom-color: var(--primary-color-dark);
      border-right-color: var(--primary-color-dark);
      border-top-color: var(--primary-color);
      border-left-color: var(--primary-color-light);
    }
    .name {
      margin-left: 25px;
      margin-right: 35px;
      h2 {
        font-size: 18px;
        font-family: RONGDHONU;
        font-weight: normal;
        color: #ccc;
      }
      h1 {
        font-family: SHOBUJ;
        font-size: 20px;
        color: var(--text-color);
      }
      button {
        outline: none;
        border: none;
        cursor: pointer;
        padding: 6px 15px;
        font-size: 14px;
        background-color: transparent;
        border: 2px solid var(--primary-color-dark);
        border-radius: 5px;
        transition: 0.3s;
        &:hover {
          background-color: var(--primary-color-dark);
          color: #fff;
        }
      }
    }
    .details {
      width: 35%;
      justify-self: flex-end;
      .detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: SHOBUJ;
        margin-bottom: 10px;
        h3 {
          display: block;
          font-size: 15px;
          color: gray;
          font-weight: normal;
        }
        p {
          font-size-adjust: 15px;
        }
      }
    }
  }

  &__overview {
    width: calc(35% - 20px);
    height: calc(30vh - 5px);
    padding: 20px 40px;
    background: #fff;
    border-radius: 8px;

    h2 {
      margin-bottom: 25px;
      font-family: SHOBUJ;
      color: var(--text-color);
    }

    .overview {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      padding: 5px;
      border-radius: 5px;
      transition: 0.4s;

      &:hover {
        background-color: #f7f7f7;
        cursor: pointer;
      }

      &__status {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__logo {
        width: 45px;
        height: 45px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__content {
        margin-left: 15px;
        font-family: SHOBUJ;
        h3 {
          font-size: 18px;
        }
        P {
          font-size: 15px;
          color: gray;
        }
      }
    }
  }

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    .chartBar {
      font-family: SHOBUJ;
      width: 100%;

      canvas {
        height: 40vh !important;
        width: auto !important;
      }
    }
  }
}
