.progress {
  margin-top: 50px;

  &__image {
    width: 100%;
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--primary-color-dark);
  }
  .links {
    text-align: center;
    margin-top: 25px;

    a {
      display: inline-block;
      margin: 0 10px;
      padding: 8px 30px;
      text-decoration: none;
      font-size: 18px;
      border: 2px solid var(--primary-color-dark);
      border-radius: 5px;
      transition: 0.4s;
    }

    a:nth-child(1) {
        background: #fff;
        color: var(--primary-color-dark);
        &:hover {
            color: #fff;
            background: var(--primary-color-dark);
        }
      }

    a:nth-child(2) {
      color: #fff;
      background: var(--primary-color-dark);
      &:hover {
        color: var(--primary-color-dark);
        background: transparent;
      }
    }
  }
}
