.question {
    width: 60%;
    padding: 100px 50px 0 100px;
    font-family: SHOBUJ;
    color: var(--text-color);

    form {
        display: flex;
        flex-direction: column;

        input,
        textarea {
            padding: 10px !important;
            margin-top: 20px;
            border: 2.5px solid #ccc;
            border-radius: 5px;
            font-size: 18px;
            font-family: SHOBUJ;
            background: #fff;
            color: #000;
            outline: none;

            &:focus {
                border: 2.5px solid var(--primary-color);
            }
        }
        .selectOptions {
            margin-top: 20px;
            height: fit-content;
            position: relative;

            select {
                padding: 10px !important;
                width: 100%;
                border-radius: 5px;
                font-size: 18px;
                border: 2.5px solid #ccc;
                font-family: SHOBUJ;
                background: #fff;
                color: #000;
                outline: none;
                appearance: none;
                cursor: pointer;

                &:hover {
                    border: 2.5px solid var(--primary-color);
                }
            }
            .arrow {
                position: absolute;
                top: 0;
                right: 0;
                height: 52px;
                width: 50px;
                background: var(--primary-color-dark);
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0 8px 8px 0;
                color: #fff;
            }
        }

        button {
            margin-top: 20px;
            padding: 10px 32px;
            background: var(--primary-color-dark);
            color: #fff;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
            border-radius: 8px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            }
        }
    }

    &__line {
        width: 25vw;
        height: 85vh;
        background: linear-gradient(
            to left,
            var(--primary-color-dark),
            var(--primary-color)
        );
        clip-path: polygon(0 0, 100% 0%, 100% 92%, 56% 96%, 0 100%);
        position: absolute;
        top: 0;
        right: 20vh;
    }

    &__image-block {
        width: 30%;
        position: absolute;
        right: 20vh;
        top: 40vh;
        img {
            height: 50vh;
        }
    }

    svg.square {
        position: absolute;
        right: calc(20vh - 90px);
        top: 20vh;
        transform: rotate(45deg);
        color: var(--primary-color-light);
    }
}
