.question {
    width: 60%;
    padding: 100px 50px 0 100px;
    font-family: SHOBUJ;
    color: var(--text-color);

    h1 {
        font-size: 3.5rem;
        color: var(--primary-color-dark);
        text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    }

    p {
        font-size: 18px;
    }

    form {
        display: flex;
        flex-direction: column;

        input,
        textarea {
            padding: 10px !important;
            margin-top: 20px;
            border: 2.5px solid #ccc;
            border-radius: 5px;
            font-size: 18px;
            font-family: SHOBUJ;
            background: #fff;
            color: #000;
            outline: none;

            &:focus {
                border: 2.5px solid var(--primary-color);
            }
        }
        .selectOptions {
            margin-top: 20px;
            height: fit-content;
            position: relative;

            select {
                padding: 10px !important;
                width: 100%;
                border-radius: 5px;
                font-size: 18px;
                border: 2.5px solid #ccc;
                font-family: SHOBUJ;
                background: #fff;
                color: #000;
                outline: none;
                appearance: none;
            }
            .arrow {
                position: absolute;
                top: 0;
                right: 0;
                height: 52px;
                width: 50px;
                background: var(--primary-color-dark);
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0 8px 8px 0;
                color: #fff;
            }
        }

        button {
            margin-top: 20px;
            padding: 10px 32px;
            background: var(--primary-color-dark);
            color: #fff;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
            border-radius: 8px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            }
        }
    }
}
