.userHome {
  margin-top: 10vh;
  background: #f7f7f7;
  padding: 10px;

  .contentBody {
    display: flex;

    &__sidenav {
      width: 20%;
      background: #fff;
      min-height: calc(100vh - 60px);
      border-radius: 8px;
      margin-right: 10px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .heading {
        position: relative;
        h1 {
          font-family: RONGDHONU;
          font-weight: normal;
          color: var(--text-color);
          margin-bottom: 30px;
        }
      }

      a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 20px;
        font-family: SHOBUJ;
        margin-bottom: 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        svg {
          width: 20px;
          height: 20px;
          color: var(--primary-color-dark);
          margin-right: 20px;
        }
      }
      a.active {
        font-weight: bold;
        color: var(--primary-color-dark);
      }
    }

    &__content {
      width: 80%;
      background: #fff;
      border-radius: 8px;
    }
  }
}
