.userHome {
  margin-top: 10vh;
  background: #f7f7f7;
  padding: 10px;

  .contentBody {
    min-height: calc(90vh - 20px);
    display: flex;

    &__sidenav {
      width: 20%;
      height: calc(90vh - 20px);
      background: #fff;
      padding: 40px;
      margin-right: 10px;
      border-radius: 8px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 20px;
        font-family: SHOBUJ;
        margin-bottom: 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        transition: 0.4s;

        &:hover {
          color: var(--primary-color);
        }

        svg {
          width: 20px;
          height: 20px;
          color: var(--primary-color-dark);
          margin-right: 20px;
        }
      }
      a.active {
        font-weight: bold;
        color: var(--primary-color-dark);
      }
    }

    &__content {
      width: 80%;
      height: calc(90vh - 20px);
      background: transparent;
      border-radius: 8px;
    }
  }
}
