@font-face {
    font-family: NILADRI;
    src: url("./assets/fonts/niladri/Unicode/Li\ Niladri\ Moitree\ Unicode.ttf");
}
@font-face {
    font-family: RONGDHONU;
    src: url("./assets/fonts/rongdhonu/Unicode/Li\ Hasan\ Rongdhonu\ Unicode.ttf");
}
@font-face {
    font-family: SHOBUJ;
    src: url("./assets/fonts/shobuj/Unicode/Li\ Shobuj\ Borno\ Unicode.ttf");
}

@font-face {
    font-family: CHRONOUS-FILLED;
    src: url("./assets/fonts/chronous/ChronosSerif-Filled.otf");
}

:root {
    --primary-color-dark: #7d3a56;
    --primary-color: #f8adb5;
    --primary-color-light: #f8d8d8;
    --primary-color-lighter: #fff6fa;
    --text-color: #444;
    --primary-font: "Quicksand", sans-serif;
    --primary-font-bold: "Fredoka One", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
