@font-face {
  font-family: NILADRI;
  src: url("./assets/fonts/niladri/Unicode/Li\ Niladri\ Moitree\ Unicode.ttf");
}
@font-face {
  font-family: RONGDHONU;
  src: url("./assets/fonts/rongdhonu/Unicode/Li\ Hasan\ Rongdhonu\ Unicode.ttf");
}
@font-face {
  font-family: SHOBUJ;
  src: url("./assets/fonts/shobuj/Unicode/Li\ Shobuj\ Borno\ Unicode.ttf");
}

@font-face {
  font-family: CHRONOUS-FILLED;
  src: url("./assets/fonts/chronous/ChronosSerif-Filled.otf");
}

:root {
  --primary-color-dark: #7d3a56;
  --primary-color: #f8adb5;
  --primary-color-light: #f8d8d8;
  --primary-color-lighter: #fff6fa;
  --secondary-color: #66a649;
  --secondary-color-light: #76bf54;
  --text-color: #444;
  --primary-font: "Quicksand", sans-serif;
  --primary-font-bold: "Fredoka One", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1.primary__heading {
  font-size: 3.5rem;
  color: var(--primary-color-dark);
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
p.primary__heading-text {
  font-size: 18px;
  color: var(--text-color);
}

.flat__heading {
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
  font-family: SHOBUJ;
}
.flat__heading p {
  font-size: 2rem;
  color: var(--text-color);
  font-family: RONGDHONU;
}
.flat__heading h1 {
  font-size: 3.5rem;
  color: var(--primary-color-dark);
}

.btn {
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 10px;
}
.primary__btn {
  color: var(--primary-color-dark);
  border: 3px solid var(--primary-color-dark);
  transition: 0.4s;
}
.primary__btn:hover {
  background: var(--primary-color-dark);
  color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.btn {
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 10px;
}
.primary__btn {
  color: var(--primary-color-dark);
  border: 3px solid var(--primary-color-dark);
  transition: 0.4s;
}
.primary__btn:hover {
  background: var(--primary-color-dark);
  color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.round_btn {
  width: 60px;
  height: 60px;
  margin: 0 10px;
  border: 2px solid #ccc;
  border-radius: 50%;
  color: #ccc !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.round_btn:hover {
  border: 2px solid #656565;
  color: #000;
}
